{% load mathjax %}

<html>
    <head>
        <title>Project Euler</title>
    </head>
    <body>
        {% mathjax_scripts %}
        <header class="page-header">
          <div class="container">
              <h1><a href="/">Project Euler Türkçe Websitesi</a></h1>
          </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>