h1 a, h2 a{
        color: #f93;
}

body {
        padding-left: 15px;
        
}

.MathJax_Display {
        text-align: left !important;
}

.page-header {
        background-color: #4f4f4f;
        margin-top: 0;
        width: 100%;
        left: 0px;
        margin-bottom: 40px;
        padding: 20px 20px 20px 40px;
}
.page-footer {
        background-color: #4f4f4f;
        position: absolute;
        bottom: 0px;
        width: 100%;
        left: 0px;
        margin-top: 50px;
        margin-bottom: 0px;
        padding: 20px 20px 20px 40px;
        
}

table, th, td {
        border: 1px solid #000000;
}

th, td{
        padding: 15px;
}

td a{
        color :#6b4e3d;
}